@layer components {
	/* Lumera Swiper pagination */
	.product-gallery .swiper-pagination-bullet {
		background: rgba(230, 216, 190, 0.35) !important;
	}

	.product-gallery .swiper-pagination-bullet-active {
		background: rgba(230, 216, 190, 0.75) !important;
	}
}
